<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="myXmlCalc"  class="org.example.Mycalc" scope="singleton" lazy-init="false"  init-method="onInit" destroy-method="onDestroy"
    ></bean>

    <bean id = "myxmlStringBuilder" class = "java.lang.StringBuilder">
        <constructor-arg value = "Hello from xml StringBuilder" />
    </bean>

</beans>